body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header, footer {
    text-align: center;
}

section {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

section:last-child {
    border-bottom: none; /* Removes border from last section */
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    margin-top: 50px;
}
